- var app = {};
- app.name = 'Scrolly';
- app.title = app.name + ': fast vanilla JS scrollbar plugin';
- app.description = app.title + '.';
- app.keywords = 'scroll,scrollbar,scrolly,bar,amd,js,javascript,vanilla,jquery,jbone,zepto,react,reactjs';

head
    meta(charset='utf-8')
    title= app.title
    meta(name='description', content=app.description)
    meta(name='keywords', content=app.keywords)
    link(rel='stylesheet', href=home + '/css/styles-scrolly.css')
    link(rel='stylesheet', href=home + '/css/styles-example.css')
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    meta(name='viewport', content='width=device-width')